* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    overflow: hidden;
}
html,body {
    height: 100%;
    width: 100%;
}


main {
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    padding: 10px 20px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    border-radius: 2px;
    position: relative;
    z-index: 9;
}

.btn:active {
    transform: scale(0.95);
}