* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
}

p {
    margin-top: 35%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: monospace;
    color: lightgreen;
}