*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

:root {
    --red: red;
    --green: green;
    --black: rgba(0, 0, 0, 0.92);
    --white: rgba(255, 255, 255, 0);
    --x: 50px;
    --y: 50px;
}
body {
    background-image: url(https://plus.unsplash.com/premium_photo-1671240156188-5f129277bea8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
.box {
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y), var(--white),var(--black));
}