* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    color: white;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: #222;
}
#main {
    width: 100%;
    height: 100px;
    background-color: #222;

}
#nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #294;

}
a{
    color: white;
    text-decoration: none;
}
button {
    align-self: center;
    padding: 6px 12px;
    background-color: red;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}

.lt {
    text-decoration: line-through;
}