* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;justify-content: center;
}


.card {
    background-color: white;
    height: 300px;
    width: 500px;
    padding: 30px;
}

.outer {
    height: 30px;
    background-color: gray;
    border-radius: 50px;
}

.inner {
    background-color: green;
    height: 100%;
    width: 0%;
    border-radius: 50px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: green;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;

}

.bottom h1 {
    font-size: 60px;
    font-weight: 100;
    font-family: monospace;
}


.card p {
    text-align: center;
    font-weight: 500;
}

.card p span {
    font-size: 400;
    color: royalblue;
}