* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-color: black;
}
/* .box {

    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    box-shadow: inset 10px 30px 40px red;
}

.box h1 {
    padding: 5px 10px;
    font-weight: 500;
    font-family: monospace;
    text-shadow: 10px 10px 10px black;
} */

/* .box {
    height: 300px;
    width: 300px;
    background: conic-gradient(from 45deg, white, red) ;
} */

@keyframes changeBackgroundColor {
    from{
        background-color: white;
        border-radius: 0px;
        scale: 1;
    }
    to {
        background-color: red;
        border-radius: 50px;
        scale: 0.5;
    }
}

 .box {
    height: 300px;
    width: 300px;
    animation: changeBackgroundColor 5s infinite forwards alternate; 
} 