* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body {
    height: 100%;
    width: 100%;
}


main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
h1 {
    font-size: 70px;
    background-color: lightblue;
    padding: 40px 80px;
    font-family: monospace;
}

.btn {
    background-color: red;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95);
}